@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.navBar{
    display: flex;
    padding: .35% ;

    background-color: black;
    color: rgb(233, 226, 219);
    justify-content: space-between;
    align-items: center;

}
.navBar ul{
    list-style-type: none;
    display: flex;
    gap: 25px;
    
    margin: 0;
    padding: 0;
    
}
.navBar a{
    padding: 10px;
    text-decoration: none;
    color: rgb(141, 121, 89);


}
.navBar a:hover{
    color: whitesmoke;
    background-color: rgb(114, 113, 107);

}
a {
    text-decoration: none;
}
.text_highlight{
    color: orange;
}
/*section class Project start */
#Front .container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    margin-bottom: 10%;
    align-items: center;
    justify-content: center;
}



#Front{
    background-image: url(img/background.png);
    background-size: cover;
    
    background-position: top center;
    position: relative;
    z-index: 1;

}
#Front .Front{
    margin: 0 auto;
    padding: 0;

}
#Front::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;


    z-index: -1;


}
#Front h3{
    display: inline-table;
    max-width: 50%;
    font-size: 2.5rem;
    align-items: center;
    letter-spacing: 2px;
    color: transparent;
    animation: text_reveal .8s ease forwards;
    animation-delay: 1s;


}
#Front h3:nth-child(1){
    animation-delay: 1.5s;
}
#Front h3:nth-child(2){
    animation-delay: 2.5s;
}
#Front h3 span{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 0;
    animation: text_reveal_box 2s ease;
    animation-delay: 1s;
}
#Front h3:nth-child(1) span{
    animation-delay: 1s;
    
}
#Front h3:nth-child(2) span{
    animation-delay: 2s;
}
#Front .cta{
    display: inline-block;

    padding: 12px 24px;

    color: rgb(220, 20, 20);
    margin-bottom: .8%;

    border: 3px solid rgb(220, 20, 20);

    font-size: 1.5rem;
    cursor: pointer;
    transition: .3s;


}
#Front .cta:hover{

    background-color: red;   
        color: white;
}
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal{
    100%{
        color: black;
    }
}

/* section class Front ends */

/*section class Project start */
#Project{

    z-index: 0;
    background-size: cover;
    position: relative;
    background-color: rgb(0, 0, 0);
    padding-bottom: 150px;

}
#Project .Project{
	flex-direction: column;
	text-align: center;

    max-width: 1500px;
    margin: auto;
    padding: 50x;
}
#Project .container .Project-Top{
    padding: 8%;
    display: block;
    position: relative;
    text-align: center;
}


#Project .container{
    display: flex;
    flex-direction:column; 
    align-items: center;
    
}

#Project .Project-Bottom{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}

#Project .Project-Content{
    display: flex;
    position: relative;
    border: 2px solid;

	justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    padding: 30px;
    border-color: aliceblue;
    opacity: 0%;
    animation: fadeup 2s ease forwards ;
    animation-delay: 1s;
    z-index: 50;

    
}

#Project .Project-Bottom .Project-Content::after{
    content: "";
    position: absolute;

    width: 100%;
    height: 100%;

    z-index: -50;
}


#Project .Project-Bottom .Project-Content .icon{

    display: flex;
    justify-content: center;
    opacity: 0%;
    animation: fadeup 2s ease forwards ;
    animation-delay: 1s;
}
#Project video{
    border: 2px solid white;
}

.lts{
    display: block;
    color: whitesmoke;
    letter-spacing: 2px;
    text-align: center;
    opacity: 0%;
    transform: translateY(40px);
    animation: fadeup 2s ease forwards ;
    animation-delay: 1s;
    
}

@keyframes fadeup{
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/*section class Project ends */

#about{
    display: flex;
    z-index: 0;
    max-height: 10%;
}
#about::after{
    z-index: -1;
    content: '';
    top: 0;
    right: 50%;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: white;
}
#about .about{
    margin: 0% auto;

}
.left{
    display: flex;
    width:70%;
    justify-content: center;
    flex-direction: column;
    padding:80px;
        max-height: 70%;

}
.right{
    width:50%;
}
.right img{
    width:100%;


    object-fit:cover;
    display:block;
}
.als{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    
    letter-spacing: 2px;
    font-size: 1.5rem;
}
#about p{
    text-align: left;
}
/*
    End of Section about
*/

